@model Fil_rouge_evente.Metier.Role
@{
    ViewBag.Title = "AjouterRole";
}

<h2>AjouterRole</h2>

<div class="form-horizontal">
    @using (Html.BeginForm("AjouterRole", "Role", FormMethod.Post))
    {
        <span>@Html.DisplayNameFor(model => model.nomRole) : </span><span>@Html.TextBoxFor(model => model.nomRole)</span>
        <button type="submit">Ajouter</button>
    }
</div>

